<!DOCTYPE html>
<!-- This HTML file is intended to allow local testing without building and uploading to Qualtrics. -->
<html>
    <head>
        <title>Qualtrics-Protomaps Test`</title>
    </head>
    <body>
        <div id="map" style="width: 1200px; height: 800px" />

        <script type="text/javascript">
            window.addEventListener("load", () => {
                QualtricsMapInput.qualtricsProtomapsPinDrop("map", "location", 35.9050, -79.04952, 15, "pmtiles://https://files.indicatrix.org/pmtiles/triangle.pmtiles")
            })
        </script>
    </body>
</html>
